/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f5f5f5;
    overflow: hidden;
}

header {
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    min-height: 59px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    color: #c10016;
    margin: 0;
    white-space: nowrap;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav span {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    padding-bottom: 5px;
}

header nav span.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a70808;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.hero {
    background-color: #a70808;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px;
}

.hero-text {
    color: white;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    font-weight: 700;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
    letter-spacing: -0.05rem;
    text-wrap: pretty;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
}

.poem-cards {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.poem-card {
    background: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: black;
    aspect-ratio: 1;
    align-content: space-evenly;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: calc(100% / 4 - 14px);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.expanded {
    aspect-ratio: auto;
    flex-direction: column;
    cursor: default;
    height: 100%;
    max-height: calc(100% - 10px);
    align-items: self-start;
    justify-content: flex-start;
    margin: 5px;
    width: 100%;
    animation: expandCard 0.3s ease-in-out forwards;
}

.expanded.hiding {
    animation: collapseCard 0.3s ease-in-out forwards;
}

.expanded h3 {
    font-size: 50px;
    margin: 0;
}

.expanded p {
    display: block;
    font-size: 30px;
    margin-top: 20px;
    overflow: auto;
}

@keyframes expandCard {
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes collapseCard {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.95);
        opacity: 0.5;
    }
}

.poem-card h3 {
    display: flex;
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.poem-card:not(.expanded):hover{
    color: #a70808;
}


.poem-card p {
    display: none;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    padding: 150px 200px 0;
    gap: 20px;
}

.author img {
    max-width: 40%;
    height: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.author h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.author p {
    font-size: 18px;
    line-height: 1.5;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    padding: 150px 200px 0;
    gap: 20px;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    min-width: 40%;
}

.about p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about .buy-button {
    display: inline-block;
    background-color: #a70808;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 20px;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.about .buy-button:hover {
    background-color: #c10016;
}

.hidden {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    header nav span {
        font-size: 12px;
    }

    .hero-text {
        font-size: 50px;
        line-height: 50px;
    }

    .poem-card {
        width: 100%;
    }

    .expanded h3 {
        font-size: 32px;
    }

    .expanded p {
        font-size: 18px;
    }

    .author {
        padding: 20px;
        flex-direction: column;
    }

    .author img {
        max-width: 100%;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about h2 {
        min-width: 100%;
        margin-bottom: 0;
    }
}
